@charset "ISO-8859-1";

table, td, th {  
  border: 1px solid black;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

th, td {
  padding: 9px;
}

a{
	color:orange;
}