@charset "ISO-8859-1";
	body {
		margin: 0;
		background-image: url("images/gym-picture.jpg");		
		overflow-x: hidden;
		height: 100%;
	}
	
	.nav-bar {
		padding-top: 15px;
		padding-right: 25px;
		height: 50px;
		width: 100%;
	}
	
	.nav-bar ul {
		list-style: none;
		display: flex;
		justify-content: right;
	}
	
	.nav-bar li {
		margin: 0 30px 0 30px;
	}
	
	.nav-bar a {
		font-size: 18px;
		text-decoration: none;
		font-weight: 700;
		font-family: sans-serif;
		color: orange;
	}
	
	